*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*CONTENEDORES*/
.contenedor {
	width: 100%;
	/* max-width: 1000px; */
	margin: 0 auto;
	overflow: hidden;
}


/*ENCABEZADO*/
header {
	background:  url(../portada1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	height:50vh;
	position: relative;
   
}

header nav {
    background: rgba(2, 2, 2, 0.8);
   height: 9vh;
}
/* 
header nav .btn-texto{
    display: none;
} */

header .cuadro-menu {
	width: 100%;
	/* max-height: 75px; */
	position: fixed;
	z-index: 100;
}



header .cuadro-menu .icono-menu  {
	padding: 20px;
    float: right;
    /* display: none; */
}


header .cuadro-menu .menu {
    padding: 25px 50px;
	text-align: right;
}

header .cuadro-menu .menu a {
	padding-bottom:  10px;
	margin: 0 20px;
	text-decoration: none;
	color: white;
	/* display: inline-block; */
    display: none;
	font-size: 0.8em;
	position: relative;
	top: 0px;
text-transform: uppercase;

}

header .cuadro-menu .menu a:hover {
	color: #ff6666;
}


 header .cuadro-menu .logo-menu {

	padding: 15px;
	/* margin-top: 20px; */
     display: inline-block;
	position: fixed;
	z-index: 1000;
    
} 
header .cuadro-menu .logo-menu img {
    /* display:block;
    margin:auto; */
    height: 6vh;
}



header .contenedor-texto-portada   {
     margin-top:15vh;
     text-align: center;
}




header .contenedor-texto-portada .texto .nombre {
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: 2em;
	text-shadow: 5px 5px 5px black;
	text-align: center;
    padding: 5px;
}



 .boton{
    overflow: hidden; 
    width: 60%;
    margin: auto;
    /* padding-top: 15%; */
    text-align: center;
 
}

.encargar {
    height: 30px; 
    text-align: center;
    text-transform: uppercase;
    background-color:rgba(21, 116, 21, 0.9);
    border-color:rgba(21, 116, 21, 0.8);
    border-style: solid; 
    border-radius: 20px;  
    width: 70%;   
    cursor: pointer;
    color: rgb(8, 8, 8);
    font-weight: bold;
    font-size: 0.5em;
  } 
/*SECCION*/


/*NOSOTROS*/
section .nosotros  {
	/* margin: 60px; */
    /* width: 100%; */
    height: 100%; 
}
/*Quienes somos*/
.contenedor-nosotros .quienes-somos {
	font-size: 1em;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 30px;
	padding: 20px;
    /* line-height: 16px; */

}




.contenedor-nosotros .quienes-somos .quienes-somos-texto {
	color: rgb(5, 5, 5);
	font-weight: bolder;
	line-height: 35px;
	font-size: 1.3em;
}


/* Testimonios */

.testimonials{
    padding: 40px 0;
    background: #c9c4c4;
    color: #000000;
    text-align: center;
  }
  .inner{
    max-width: 100vw;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }

  .inner h1{
    font-size: 1.5em;
  }
  
  

  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    flex: 70%;
    max-width: 70%;
    box-sizing: border-box;
    padding: 15px;
  }
  .testimonial{
    background: #fff;
    padding: 20px;
    border-radius: 0px 0px 20px 20px ;
  }
  .testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
 

  /* Section Pelea */
.pelea  {
	background: #fff;
	width: 100%;
}


.pelea .contenedorpelea {
	display: block;
	width: 100%;
	padding: 20px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.pelea .contenedorpelea .pelea1{
	display: block;
	width: 100%;
	text-align: center;
}

.pelea .contenedorpelea .pelea1 .contImg{
	width: 80%;
	display: inline-block;
	text-align:center;
    margin: 8px;
}

.pelea .contenedorpelea .pelea1 .contImg img{
	width: 60vw;

}

.pelea .contenedorpelea .pelea1 .contParr{
	width: 80%;
	display: inline-block;
	text-align: center;
}

.pelea .contenedorpelea .pelea1 .contParr .texto{
	font-size: 14px;
	width: 100%;
	font-family: 'Varela Round', sans-serif;
	color: #000000;
	font-weight:400;
	 font-style:italic;  
     padding-bottom: 5px;

}


.pelea .contenedorpelea .parrafo  {
   margin: 20px;
    height: 100%;

}
  
.pelea .contenedorpelea .parrafo h2 {
    margin-bottom: 30px;
    font-size: 1.5em;
    font-weight: normal;
}

.pelea .contenedorpelea .texto-parrafo  {
  margin-bottom: 30px;
  font-size: 1.2em;
}


/*  Carrousel */
  
.slider{
  /* background: rgb(7, 7, 7); */
	width: 100%;
}
.mySlides {display: none}

.foto img{
      vertical-align: middle;
      height: 100vh;}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #ffffff;
  font-size: 1.2em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  /* margin: 0px 2px;
  margin-bottom: 5px; 
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: absolute;
}

.active, .dot:hover {
  background-color: #717171;
} */

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {font-size: 11px}
}

  /* atencion */
  .atencion{
    width: 100%;
    /* margin: 10px; */
    padding: 10px;
   
  }

  .atencion .atencion-titulo{
    color: rgb(0, 0, 0);
    font-weight:1.5em;
    font-size: 1.5em;
    /* margin-top: 100px; */
    margin-bottom: 20px;
    text-align: center;
  }

  
  .atencion .contenedor p{
    color: rgb(0, 0, 0);
    font-weight:1.5em;
    font-size: 1em;
    margin-bottom: 10px;
    text-align: center;
  }