<!DOCTYPE html>
<html>
<head lang="es">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet"  href="css/normalize.css">
  <link rel="stylesheet"  href="css/font-awesome.min.css">
  <link rel="stylesheet"  href="/css/styles.css">
  <link rel="shorcut icon" type="image/x-icon" href="img/favicon.ico">

  <link rel="stylesheet" href="/css/testimonial.css">
  <script
			src="https://kit.fontawesome.com/81c2c05f29.js"
			crossorigin="anonymous"
		></script>
 




  <title>FrontTrain</title>
</head>


   <!-- HEADER !-->
   <header>  
   
    <div class="cuadro-menu" id="cuadro-menu">
        <!-- Logo del menù !-->
          <div class="logo-menu">
          <img src="/IMGS PARA LA LANDING PAGE/logo3_distribuidora.png"  alt="Logo distribuidora">  
          </div>
        <!-- Logo del menù !-->
          <div class="icono-menu" id="iconoMenu">
          <img src="/IMGS PARA LA LANDING PAGE/menu.png"  alt="menu" id="iconoMenu2">
          </div>  
        <!-- menú !-->
        <nav class="menu" id="menu">
          <a class='btn-texto' href="#" id="btn_nosotros">Quiero encargar repuestos</a>
          <a class='btn-texto' href="#" id="btn_beneficios">Beneficios y caracteristicas</a>
          <a class='btn-texto' href="#" id="btn_marcas">Nuestros productos</a>
          <a class='btn-texto' href="#" id="btn_contacto">Preguntas frecuentes</a>
    
        </nav>        
      </div>
    </header>

     
     
  

   
   <section class="main" id="main">


    <section class="portada">

      <picture>
        <source media="(min-width:1000px)" srcset="/banner-01desktop.jpg">
        <source media="(min-width:780px)" srcset="/portada2.jpg">
        <img src="/portada.jpg" alt="">
      </picture>

      
      <div class="contenedor-texto-portada" id="textoPortada">

        <div class="texto">
          <h1 class="nombre" id="letrasPortada">Encontrá tus repuestos de tren delantero</h1>
        </div>

          <div class="boton">
            <button class="encargar">Quiero encargar repuestos</button>
          </div>
       
      </div>
    </section>


     <!-- Nosotros !-->
     <section class="nosotros" id="nosotros" >
       <div class="contenedor">
         <div class="contenedor-nosotros">
           <!-- Quienes somos !-->
           <div class="quienes-somos" id="quienes-somos">
             <p class="quienes-somos-texto">
                Gracias a nuestra amplia red de proovedores vas a poder conseguir los productos que necesitas</p>
           </div>

       </div>
     </section>

  <!-- Testimonios -->
<section class="caract">
      <div class="testimonials">
        <div class="inner">
         <h2>Si sos dueño de un taller o de una tienda de autopartes, seguramente buscas una distribuidora que tenga: </h2>
      

      <div class="row">
          <div class="col">
            <div class="testimonial">
               <img src="IMGS PARA LA LANDING PAGE/ICONO/Sin Fondo/precios_bajos.png" alt="">
    
          <h3>Precios Bajos</h2>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src="IMGS PARA LA LANDING PAGE/ICONO/Sin Fondo/productos_calidad.png" alt="">    
            <h3>Productos de buena calidad</h2>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src="IMGS PARA LA LANDING PAGE/ICONO/Sin Fondo/Flexibilidad_pagos.png" alt="">
            <h3>Flexibilidad en los pagos</h2>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>
<!-- /Testimonios -->

    <!-- seccion info !-->
    <section class="proovedores"  id="description">
     
			<!--Contenedor del los divs -->
    	<div class="contenedorProvedores">

		    	<div class="proovedor1">
		    	       <!--Imagen 1 y texto 1-->
			    	 
			    	   <div class="contParr"> <p class="texto"> ¿Tus proovedores te aumentaron los precios?</p>
                  <div class="otro1"> <p class="texto"> ¿Las ventas de tu negocio bajaron?</p></div> 
                  <div class="otro2"> <p class="texto"> ¿Te cuesta encontrar una distribuidora de confianza?</p></div>
              	</div>
                <div class="contImg"><img  class="imagen1" src="IMGS PARA LA LANDING PAGE/DESCRIPCION/IMG1.jpg" ></div> 
          </div>

          <div class="parrafo">
            <h2>Estas y muchas otras situaciones son las que vivis a diario con tu negocio... </h2>
       
          </div>

          <div class="proovedor1">
            <!--Imagen 2 y texto 2-->
     
            <div class="contImg">
              <img class="imagen2" src="IMGS PARA LA LANDING PAGE/DESCRIPCION/IMG2.jpg" >
           </div> 

           <p class="texto-parrafo">al mismo tiempo deseas conseguir:</p>

            <div class="contParr"> <p class="texto"> ¡Una amplia variedad de stock!</p>
              <div class="otro1"> <p class="texto"> ¡Aumentar tus ventas!</p></div> 
              <div class="otro2"> <p class="texto"> ¡Hacer crecer tus ganancias!</p></div>
            </div>
         
         </div>
      </div>
          
    </section>

    
    <!-- carrousel !-->

    <section class="banner-intermedio">

      <picture>
        <source media="(min-width:1000px)" srcset="/banner-01desktop.jpg">
        <source media="(min-width:780px)" srcset="/banner-01tablet.jpg">
        <img src="/banner-01.jpg" alt="">
      </picture>

      
      <div class="contenedor-texto-banner" id="textoBanner">

        <div class="texto-banner">
          <h1 class="nombre-banner" id="letrasBanner">En FrontTrain tenemos una amplia variedad de repuestos para tren delantero...</h1>
        </div>

 
      </div>
    </section>
  

      <!-- ¿Por qué encargarnos de tu stock? !-->
        <section class="atencion" id="atencion">
          <h2 class="atencion-titulo">¿Por qué encargarnos de tu stock?</h2>
          <div class="contenedor-atencion">
        
            <p>Resolvé tus consultas en todo momento gracias a nuestro servicio de atencion personalizada por whatsapp las 24 horas.</p>
            <p>Accede a nuestros repuestos por el monto minimo más bajo del mercado.</p>
            <p>Ahorrá dinero y mejorá tus ganancias a través de los precios más bajos en rótulas, axiales, extremos, bieletas, bujes y parrillas.</p>
            <p>Recibí tus en tu negocio y en un horario conveniente con nuestro servicio de entrega y de forma totalmente gratuita.</p>
            <p>Asegurá tu dinero y el de tu negocio mediante nuestra garantía de devolución.</p>

            <div class="boton-dos"><button class="encargar-dos">Quiero encargar repuestos</button></div>
            </div>

        </section>

     
    
      <!-- /repuestos -->
   
      <section class="repuestos">
        <h2>Nuestros repuestos</h2>


        <div class="contenedor-repuestos">
        <article class="article">
            <img src="IMGS PARA LA LANDING PAGE/DESCRIPCION/IMG1.jpg"  width="100%">
            
            </article>

        <article class="article">
        <img src="IMGS PARA LA LANDING PAGE/DESCRIPCION/IMG1.jpg"  width="100%">
       
        </article>

        <article class="article">
        <img src="IMGS PARA LA LANDING PAGE/DESCRIPCION/IMG1.jpg"  width="100%">
       
        </article>
     
        <article class="article">
        <img src="IMGS PARA LA LANDING PAGE/DESCRIPCION/IMG1.jpg"  width="100%">
        </article>

        <article class="article">
          <img src="IMGS PARA LA LANDING PAGE/DESCRIPCION/IMG1.jpg"  width="100%">
          </article>

          <article class="article">
            <img src="IMGS PARA LA LANDING PAGE/DESCRIPCION/IMG1.jpg"  width="100%">   
            </article>
    </div>
    </section>


      
<!-- Marcas -->
      <section class="marcas">
        <h2>Nuestras marcas</h2>
    
          <div class="contenedor-marcas">
              <div class="product">
                <picture>
                  <img src="IMGS PARA LA LANDING PAGE/MARCAS/AUTOS/Chevrolet.png"  alt="">
                </picture>
              </div>
      
              <div class="product">
                <picture>
                  <img src="IMGS PARA LA LANDING PAGE/MARCAS/AUTOS/Citroen.png"  alt="">
                </picture>
              </div>
      
              <div class="product">
                <picture>
                  <img src="IMGS PARA LA LANDING PAGE/MARCAS/AUTOS/Dodge.png" alt="">
                </picture>
              </div>
      
              <div class="product">
                <picture>
                  <img src="IMGS PARA LA LANDING PAGE/MARCAS/AUTOS/Fiat.png" alt="">
                </picture>
              </div>
      
      
              <div class="product">
                <picture>
                  <img src="IMGS PARA LA LANDING PAGE/MARCAS/AUTOS/Ford.png"  alt="">
                </picture>
              </div>
      
      
              <div class="product">
                <picture>
                  <img src="IMGS PARA LA LANDING PAGE/MARCAS/AUTOS/Peugeot.png" alt="">
                </picture>
              </div>
      
              <div class="product">
                <picture>
                  <img src="IMGS PARA LA LANDING PAGE/MARCAS/AUTOS/Renault.png"  alt="">
                </picture>
              </div>
      
              <div class="product">
                <picture>
                  <img src="IMGS PARA LA LANDING PAGE/MARCAS/AUTOS/Toyota.png" alt="">
                </picture>	
              </div>
      
              <div class="product">
                <picture>
                  <img src="IMGS PARA LA LANDING PAGE/MARCAS/AUTOS/Vw.png"  alt="">
                </picture>  
              </div>
      
              <div class="product">
                <picture>
                  <img src="IMGS PARA LA LANDING PAGE/MARCAS/REPUESTOS/Icsa.png"  alt="">
                </picture>
              </div>
      
              <div class="product">
                <picture>
                  <img src="IMGS PARA LA LANDING PAGE/MARCAS/REPUESTOS/Locma.png"  alt="">
                </picture>  
              </div>
    
    
              <div class="product">
                <picture>
                  <img src="IMGS PARA LA LANDING PAGE/MARCAS/REPUESTOS/MBBorghetti.png"   alt="">
                </picture>
              </div>
    
              <div class="product">
                <picture>
                  <img src="IMGS PARA LA LANDING PAGE/MARCAS/REPUESTOS/MSAutopártes.png"  alt="">
                </picture>
              </div>
          </div>
      </section>
      <!-- /Marcas -->


            <!-- testimonios !-->
   <section class="testimonios">
     <h2 class="testimonios-titulo">Testimonios</h2>
     
            <div class="testimonials-section">
              <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
              <input type="radio" name="slider" title="slide2" class="slider__nav"/>
              <input type="radio" name="slider" title="slide3" class="slider__nav"/>
              <input type="radio" name="slider" title="slide4" class="slider__nav"/>
              <input type="radio" name="slider" title="slide5" class="slider__nav"/>
            <div class="slider__inner">
              <div class="slider__contents">
                <img src="IMGS PARA LA LANDING PAGE/3.jpg" alt="" >
                <p class="slider__txt">Muy buen producto, la mejor calidad.</p>
              </div>

              <div class="slider__contents">
                <img src="IMGS PARA LA LANDING PAGE/3.jpg" alt="" >
                <p class="slider__txt">Muy buen producto, la mejor calidad.</p>
              </div>

              <div class="slider__contents">
                <img src="IMGS PARA LA LANDING PAGE/3.jpg" alt="" >
                <p class="slider__txt">Muy buen producto, la mejor calidad.</p>
              </div>

              <div class="slider__contents">
                <img src="IMGS PARA LA LANDING PAGE/3.jpg" alt="" >
                <p class="slider__txt">Muy buen producto, la mejor calidad.</p>
               </div>

              <div class="slider__contents">
                <img src="IMGS PARA LA LANDING PAGE/3.jpg" alt="" >
                <p class="slider__txt">Muy buen producto, la mejor calidad.</p>
              </div>

            </div>
          </div>
            <!-- /testimonios !-->

</section>

     <!-- Newsletter !-->
     <section class="newsletter">
       <h2 class="titulo-news">
         Suscribirse para obtener descuentos
       </h2>

       <div class="formulario">
           <form action="" method="post">
              <p>
                <label for="nombre" class="colorar_nombre">Nombre
                  <input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Escribe tu nombre">
                </label>
              </p>

              <p>
                <label for="email" class="colocar_email">Email
                  <input type="email" name="introducir_email" id="email" placeholder="Escribe tu email">
                </label>
              </p>
              
              <button type="submit" name="enviar_formulario" id="enviar"><p>Quiero mi descuento</p></button>

           </form>
       </div>
     </section>
    </section>
   </section>
       <!-- Footer !-->
       <footer>
       <section class="pie-pagina">
      
         <!-- Texto !-->
         <div class="explicacion">
          <p class="texto1">Somos una distribuidora que comercializa, distribuye y facilita, a través de beneficios económicos y de logísticas, la obtención de repuestos automotor de
            tren delantero (bujes, parrillas, extremos, bieletas, rotulas, axiales) a tiendas de repuestos y talleres mecánicos de la provincia de Buenos Aires y provincias del interior.</p>
        </div>

           <!-- logo !-->
           <div class="pie-pagina-logo">
            <img src="IMGS PARA LA LANDING PAGE/LOGOS/Logo_footer.png" height="150px" alt="Logo de distribuidora de repuesto de tren delantero Front Train">
          
          <!-- Datos !-->
          <div class="datos">
            <h3 class="telefono1">Preguntas frecuentes</h3>
            <h3 class="telefono2">+54 9 113079-1730</h3>
            <h3 class="correo">fronttrain.contacto@gmail.com</h3>
          </div>
         
        </div>
           
      
      </section>
  
     </footer>


   <!-- </Footer -->
   <script src="/js/jquery-3.4.1.min.js"></script>
<!-- <script src="/js/slider.js"></script> -->
<script src="/js/menu.js"></script>

</body>
</html>