*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background: white;
	font-family: "Open Sans", Sans-serif;

}

/*CONTENEDORES*/
.contenedor {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}


/*ENCABEZADO*/


/* Menu */
header .cuadro-menu {
	width: 100%;
	position: fixed;
	z-index: 100;
  background-color: #000000;

}

header .cuadro-menu .icono-menu  {
	padding: 20px;
  float: right;
  display: none;   
}

header .cuadro-menu .menu {
  padding: 25px ;
  text-align: right;
}

header .cuadro-menu .menu a {
	padding-bottom:  10px;
	margin: 0 10px;
	text-decoration: none;
	color: white;
  display: inline-block; 
	font-size: 11px;
	top: 0px;
text-transform: uppercase;

}

header .cuadro-menu .menu a:hover {
	color: #ff6666;
}


 header .cuadro-menu .logo-menu {
	padding: 15px;
  display: inline-block;
	position: fixed;
	z-index:10; 
} 

header .cuadro-menu .logo-menu img {
    height: 6vh;
}

/*/Menu */

.portada img{
  width: 100%;
}

.portada .contenedor-texto-portada   {
  /* margin-top:15vh; */
  text-align: center;
  position: relative;
}



.portada .contenedor-texto-portada .texto .nombre {
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: 30px;
	text-shadow: 5px 5px 5px black;
	text-align: center;
  padding: 5px;
  max-width: 450px;
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  margin: auto;
}

 .boton{
    width: 90%;
    margin: auto;
    text-align: center;
    margin: auto;
    max-width: 450px;   
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
}

.encargar {
    height: 40px; 
    text-align: center;
    text-transform: uppercase;
    background-color:#25D366;
    border-color:#25d366;
    border-style: solid; 
    border-radius: 10px;  
    width: 80%;   
    cursor: pointer;
    color: rgb(255, 248, 248);
    font-weight: bold;
    font-size: 0.7rem;
    margin: auto;
    box-shadow: 4px 5px 10px -1px rgba(0,0,0,0.63);
   
  } 
/*SECCION*/


/*NOSOTROS*/
section .nosotros  {
    height: 100%; 
    margin: 20px;
    margin-top: 30px;
}

/*Quienes somos*/
.contenedor-nosotros .quienes-somos {

	text-align: center;
	margin-bottom: 10px;
	margin-top: 30px;
	padding: 20px;
  max-width: 600px;
  margin: auto;
}




.contenedor-nosotros .quienes-somos .quienes-somos-texto {
	color: rgb(54, 54, 54);
	font-weight: bolder;
	font-size: 30px;
}


/* Testimonios */

.testimonials{
    padding: 40px 0;
    color: #505050;
    background-color: #EBEBEB;
    text-align: center;
  }

  .testimonials h3{
    color: #505050;
    font-weight: bolder;
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
  }
  .inner{
    max-width: 100vw;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }

  .inner h2{
    padding-bottom: 10px;
    max-width: 700px;
    margin: auto;
    color: #505050;
    font-weight: bolder;
    font-size: 30px;
    /* text-align: center; */
  }
  
  

  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    flex: 70%;
    max-width: 70%;
    box-sizing: border-box;
    padding: 15px;
    max-width: 450px;
  }
  .testimonial{
    background: #fff;
    padding: 20px;
    border-radius: 0px 0px 30px 30px ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  .testimonial img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
 

  /* Section Proovedores */
.proovedores  {
	background: #fff;
	width: 100%;
  
}


.proovedores .contenedorProvedores{
	display: block;
	width: 100%;
	padding: 20px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.proovedores .contenedorProvedores .proovedor1{
	display: block;
	width: 100%;
	text-align: center;
}

.proovedores .contenedorProvedores .proovedor1 .contImg{
	width: 70%;
	display: inline-block;
	text-align:center;
  margin: 8px;
  

}

.proovedores .contenedorProvedores .proovedor1 .contImg img{
	width: 100%;
  max-width: 400px;

}

.proovedores .contenedorProvedores .proovedor1 .contParr{
	width: 85%;
	display: inline-block;
	text-align: center;
}

.proovedores .contenedorProvedores .proovedor1 .contParr .texto{
	font-size: 20px;
	width: 100%;
	color: #505050;
	font-weight:300;
  padding-bottom: 5px;

}


.proovedores .contenedorProvedores  .parrafo  {
   margin: 10px;
    height: 100%;
   text-align: center;

}
  
.proovedores .contenedorProvedores  .parrafo h2 {
    color: #505050;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;

}

.proovedores .contenedorProvedores .texto-parrafo  {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
	color: #505050;

}


/* Baner intermedio */
   .banner-intermedio img{
    width: 100%;
  } 


  .banner-intermedio .contenedor-texto-banner{
    /* margin-top:15vh; */
    text-align: center;
    position: relative;
  }
  
  
  
  .banner-intermedio .contenedor-texto-banner .texto-banner .nombre-banner{
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 5px 5px 5px black;
    text-align: center;
    padding: 5px;
    max-width: 450px;
    position: absolute;
    top: -200px;
    left: 0;
    right: 0;
    margin: auto;
  }
  


/* / Banner  */

  /* atencion */
  .atencion{
    width: 100%;
    background-color: rgb(250, 250, 250);
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;

  }

  .atencion .atencion-titulo{
    color: rgb(3, 3, 3);
    font-weight:1.5em;
    font-size: 1.5em;
    /* margin-top: 100px; */
    margin-bottom: 20px;
    text-align: center;
  }

  
  .atencion .contenedor-atencion  p{
    color: rgb(37, 36, 36);
    font-weight:400;
    font-size: 1em;
    margin-bottom: 10px;
    text-align: center;
  }

  .boton-dos{
  padding-top:20px ;
    width: 90%;
    margin: auto;
    text-align: center;
    max-width: 450px;
    
   
}

.encargar-dos {
    height: 40px; 
    text-align: center;
    text-transform: uppercase;
    background-color:#25D366;
    border-color:#25d366;
    border-style: solid; 
    border-radius: 10px;  
    width: 80%;   
    cursor: pointer;
    color: rgb(255, 248, 248);
    font-weight: bold;
    font-size: 0.7rem;
    margin: auto;
    box-shadow: 4px 5px 10px -1px rgba(0,0,0,0.63);
  } 
  /* /Atencion */

  /* Pdfs */
  .repuestos{
    background-color: #d6d2d2;
    width: 100%;
    padding: 15px;
  }
  
  .repuestos h2{
    color: rgb(66, 64, 64);
    font-weight:1.5em;
    font-size: 1.5em;
    padding: 15px;
    text-align: center;
  }
  
  .repuestos  .contenedor-repuestos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 1100px;
  
  }
  
  .repuestos .contenedor-repuestos .article {
    width:70%;
   margin: 10px;
    /* margin-top: 20px;
    margin-left: 20px; */
    max-width: 300px;
  }
  
  .repuestos .contenedor-repuestos article img {
    border-radius: 10%;
   
  }
  /* /Pdfs */


  /* Marcas */
  .marcas{
    height: 100%;
    padding: 10px;
  }

  .marcas h2{
    color: rgb(36, 36, 36);
    font-weight:1.5em;
    font-size: 1.5em;
    padding-bottom: 20px;
    margin-top: 20px;
    text-align: center;
  }
  .contenedor-marcas{
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    overflow-x: auto;
  }

  .marcas .product{
    min-width:35vw;
    height: 100%;
    background: whitesmoke;
    margin: 0 20px  0 0;
    border-radius: 20px;
    position: relative;
    left: 0;
    transition: 0.5s;
  }



  .marcas .product picture{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
    margin: auto;
  }
  .marcas .product picture img{
    width: 100%;
  }
  
  /* /Marcas */

  /* Los testimonios están en otro archivo css */

  /* Newsletter */

  .newsletter{  
    width: 100%; 
   background: #fd4646;
   padding-top: 20px;
    }
  .titulo-news {
    /* margin: 8px; */
    font-size: 1.5em;
    text-align: center;
  }


.formulario{  
  width: 300px; 
  height: auto;
  margin: 0px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fd4646;
  /* padding-left: 30px;  */
}


input{
  background-color: #fbfbfb; 
  width: 300px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #050505; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 300px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #000000; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


#enviar {
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #000000; 
  border-color: #000000; 
  border-style: solid; 
  border-radius: 10px;  
  width: 300px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}


  /* /Newsletter */

  /* Footer */
  footer {
    background: black;
  }
  
  footer .pie-pagina {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  footer .pie-pagina .explicacion{
    text-align: center;
    margin:10px 12px;
    align-self: center;
    
  }
  footer .pie-pagina  .explicacion p {
    font-size: 0.8em;
    font-weight: normal;
    color: white;
    line-height: 1.5em;
    max-width: 450px;
  }
  
  footer .pie-pagina .datos {
    color: white;
    margin:20px 20px;
    
  }

  footer .pie-pagina .datos h3 {
    font-size: 1em;
    padding-bottom: 5px;
    line-height: 1.5em;
  }
  
  

  
  footer .pie-pagina .pie-pagina-logo {
    text-align: center;
  }
  
  /* /Footer */

  /* Media queries */
  @media (max-width: 900px) {
    /* Menu */
    
    header{
      display: flex;
    }
    header .cuadro-menu .icono-menu {
      display: inline-block;
      }
  
  
      
 
      header .cuadro-menu .icono-menu img {
      padding-left: 10px;
      
    
      }
  
        header .menu {
      margin-left: -40px;
       display: inline-block; 
      width: 25%;
       position: absolute;	  
    }  
    
    header .cuadro-menu  .menu{
        text-align: center;
     ;
        left: -100%;
        width: 30vh;
        height: 100vh;
        background: rgb(0, 0, 0);
         font-size: 18px; 
      }
      header .cuadro-menu .menu a{
        text-decoration: none;
        padding: 15px;
        font-weight: normal;
        top: 0px;
        font-style: italic;
  
        
      }
      

/*/Menu */

  }


  /* de 900px en adelante*/
  @media (min-width: 800px) {
    .marcas .product{
      min-width:20vw;
    }
  }

  
  
  
